body {
    background-color: black;
    color: rgb(78, 190, 255);
}

h1 {
    text-align: center;
    font-size: 50pt;
    letter-spacing: 5pt;
    /* text-decoration: underline; */
}

.active:disabled {
    border: 3px solid yellow;
}



.circle {
    width: 500px;
    height: 500px;
    /* justify-content: center; */
    /* background-color: chartreuse; */
    border-radius: 50%;
    border: 5px solid rgb(78, 190, 255);
    position: relative;
}

.mini-circle {
    width: 70%;
    height: 70%;
    /* background-color: chartreuse; */
    position: relative;
    top: 16%;
    left: 15%;
}

.dot {
    width: 2%;
    height: 2%;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    top: 49%;
    left: 49.2%;

}

.circle .circle-letter {
    --rotation: 0;
    color: chartreuse;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    position: absolute;
    transform: rotate(var(--rotation));
    
}

.circle .circle-letterB {
    --rotation: 0;
    color: chartreuse;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    position: absolute;
    transform: rotate(var(--rotation));
}

.circle .circle-letter input {
    position: relative;
    transform: rotate(var(--rotation));
    height: 40px;
    width: 40px;
    background: none;
    /* border: none; */
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
    font-size: 25px;
    text-align: center;
}

.circle .circle-letterB input {
    position: relative;
    transform: rotate(var(--rotation));
    height: 30px;
    width: 30px;
    background: none;
    /* border: none; */
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
    font-size: 25px;
    text-align: center;
}

.mini-circle .circle-number {
    --rotation: 0;
    color: chartreuse;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    transform: rotate(var(--rotation));
}

.mini-circle .circle-numberB {
    --rotation: 0;
    color: chartreuse;
    width: 100%;
    height: 100%;
    text-align: center;
    /* font-size: 20px; */
    position: absolute;
    transform: rotate(var(--rotation));
    
}

.mini-circle .circle-number input {
    position: relative;
    transform: rotate(var(--rotation));
    height: 29px;
    width: 29px;
    background: none;
    border: none;
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
    font-size: 20px;
    text-align: center;
}

.mini-circle .circle-numberB input {
    position: relative;
    transform: rotate(var(--rotation));
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
    font-size: 20px;
    text-align: center;
}

.circle .letG { --rotation: 30deg; }
.circle .letD { --rotation: 60deg; }
.circle .letA { --rotation: 90deg; }
.circle .letE { --rotation: 120deg; }
.circle .letB { --rotation: 143deg; }
.circle .letCf { --rotation: 157deg; }
.circle .letFs { --rotation: 174deg; }
.circle .letGf { --rotation: 186deg; }
.circle .letCs { --rotation: 203deg; }
.circle .letDf { --rotation: 218deg; }
.circle .letAf { --rotation: 240deg; }
.circle .letEf { --rotation: 270deg; }
.circle .letBf { --rotation: 300deg; }
.circle .letF { --rotation: 330deg; }

.circle .letG input { --rotation: -30deg; }
.circle .letD input { --rotation: -60deg; }
.circle .letA input { --rotation: -90deg; }
.circle .letE input { --rotation: -120deg; }
.circle .letB input { --rotation: -143deg; }
.circle .letCf input { --rotation: -157deg; }
.circle .letFs input { --rotation: -174deg; }
.circle .letGf input { --rotation: -186deg; }
.circle .letCs input { --rotation: -203deg; }
.circle .letDf input { --rotation: -218deg; }
.circle .letAf input { --rotation: -240deg; }
.circle .letEf input { --rotation: -270deg; }
.circle .letBf input { --rotation: -300deg; }
.circle .letF input { --rotation: -330deg; }

.circle .mini-circle .num1s { --rotation: 30deg; }
.circle .mini-circle .num2s { --rotation: 60deg; }
.circle .mini-circle .num3s { --rotation: 90deg; }
.circle .mini-circle .num4s { --rotation: 120deg; }
.circle .mini-circle .num5s { --rotation: 143deg; }
.circle .mini-circle .num7f { --rotation: 157deg; }
.circle .mini-circle .num6s { --rotation: 174deg; }
.circle .mini-circle .num6f { --rotation: 186deg; }
.circle .mini-circle .num7s { --rotation: 203deg; }
.circle .mini-circle .num5f { --rotation: 218deg; }
.circle .mini-circle .num4f { --rotation: 240deg; }
.circle .mini-circle .num3f { --rotation: 270deg; }
.circle .mini-circle .num2f { --rotation: 300deg; }
.circle .mini-circle .num1f { --rotation: 330deg; }

.circle .mini-circle .num1s input { --rotation: -30deg; }
.circle .mini-circle .num2s input { --rotation: -60deg; }
.circle .mini-circle .num3s input { --rotation: -90deg; }
.circle .mini-circle .num4s input { --rotation: -120deg; }
.circle .mini-circle .num5s input { --rotation: -143deg; }
.circle .mini-circle .num7f input { --rotation: -157deg; }
.circle .mini-circle .num6s input { --rotation: -174deg; }
.circle .mini-circle .num6f input { --rotation: -186deg; }
.circle .mini-circle .num7s input { --rotation: -203deg; }
.circle .mini-circle .num5f input { --rotation: -218deg; }
.circle .mini-circle .num4f input { --rotation: -240deg; }
.circle .mini-circle .num3f input { --rotation: -270deg; }
.circle .mini-circle .num2f input { --rotation: -300deg; }
.circle .mini-circle .num1f input { --rotation: -330deg; }

.line1 {
    width: .5px;
    height: 500px;
    background-color: rgb(78, 190, 255);
    margin-left: 50%;
    position: absolute;
    transform: rotate(var(--rotation));
    --rotation: -15deg;
}

.line2 {
    width: .5px;
    height: 500px;
    background-color: rgb(78, 190, 255);
    margin-left: 50%;
    position: absolute;
    transform: rotate(var(--rotation));
    --rotation: -45deg;
}

.line3 {
    width: .5px;
    height: 500px;
    background-color: rgb(78, 190, 255);
    margin-left: 50%;
    position: absolute;
    transform: rotate(var(--rotation));
    --rotation: -75deg;
}

.line4 {
    width: .5px;
    height: 500px;
    background-color: rgb(78, 190, 255);
    margin-left: 50%;
    position: absolute;
    transform: rotate(var(--rotation));
    --rotation: -105deg;
}

.line5 {
    width: .5px;
    height: 500px;
    background-color: rgb(78, 190, 255);
    margin-left: 50%;
    position: absolute;
    transform: rotate(var(--rotation));
    --rotation: -135deg;
}

.line6 {
    width: .5px;
    height: 500px;
    background-color: rgb(78, 190, 255);
    margin-left: 50%;
    position: absolute;
    transform: rotate(var(--rotation));
    --rotation: 15deg;
}

.keyOC {
    text-align: center;
    font-size: 30pt;
    letter-spacing: 6pt;
    color: chartreuse;
}

.steps {
    text-align: center;
    font-size: 20pt;
    padding-bottom: 60px;
    letter-spacing: 8.5pt;
}

.fscales {
    text-align: center;
    font-size: 25pt;
    letter-spacing: 1.5pt;
}

.OFTitle {
    margin-top: 25%;
    text-align: center;
    font-size: 15pt;
    letter-spacing: 1.5pt;
}

.orderFlats input {
    margin-top: 5%;
    justify-content: center;
    width: 9%;
    height: 70%;
    background: none;
    /* border: none; */
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
}

.sscales {
    font-size: 25pt;
    text-align: center;
    letter-spacing: 1.5pt;
}

.OSTitle {
    margin-top: 25%;
    text-align: center;
    font-size: 15pt;
    letter-spacing: 1.5pt;
}

.orderSharps input {
    margin-top: 5%;
    width: 9%;
    height: 70%;
    background: none;
    /* border: none; */
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
}

.flatScales input[type=text] {
    width: 9%;
    background: none;
    /* border: none; */
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
}

.sharpScales input[type=text] {
    width: 9%;
    background: none;
    /* border: none; */
    /* border-bottom: 2px solid yellow; */
    color: chartreuse;
}

